[alias]
  b = branch
  c = commit
  co = checkout
  d = diff
  e = push origin master
  export = push -u origin master
  s = status
  undo = checkout --
  undolastcommit = reset --soft "HEAD^"
  unstage = reset HEAD --

[user]
  email = stevenle08@gmail.com
  name = Steven Le

[color]
  ui = true
